{% extends "layouts/default.html" %}
{% block title %}ESSEC's Python 101 Exam 2020 Challenge 0{% endblock %}
{% block content %}
<div id="main">
    <h1>Python 101 Exam for groups C1 & C2, Challenge 0</h1>
    <p>Your current grade is <strong>{{ grade }}</strong></p>
    <form action="/" method="post">
        <input type="text" name="answer" placeholder="The answer, e.g. 42" />
        <input name="token" type="hidden" value="{{ token }}">
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}
