{% extends "layouts/default.html" %}
{% block title %}ESSEC's Python 101 Exam 2020 Challenge 5{% endblock %}
{% block content %}
<div id="main">
    <h1>Python for Business Exam 2022, Challenge 5</h1>
    <p>Your current grade is <strong>{{ grade }}</strong></p>
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
    <p>The Seveso listed factory you work for can produce two compounds:</p>
    <ul>
        <li> Either a gas of chemical formula NH<sub>3</sub>,</li>
        <li> Or a salt of chemical formula NH<sub>4</sub>Cl.</li>
    </ul>
    <p>You can sell the gas to refrigeration specialists for {{ gas-price }} € per unit.</p>
    <p>And you can sell the salt as a precursor for fertilizer production at {{ salt-price }} € per unit.</p>
    <p>Another chemical process in your plant currently produces:</p>
    <ul>
        <li>{{ n }} units of Nitrogen (N)</li>
        <li>{{ h }} units of Hydrogen (H)</li>
        <li>{{ cl }} units of Chlorine (Cl)</li>
    </ul>
    <p>Which you can use as input to produce either gas or salt, using the stochiometric rates of conversion.</p>
    <p>Create a production plan that maximizes the plant's income (round to the nearest integer value if need be):</p>
    <form action="/gas" method="post">
        <label for="salt">We should produce</label><input type="text" name="salt" placeholder="" /><label for="salt">units of salt.</label><br/>
        <label for="gas">We should produce</label><input type="text" name="gas" placeholder="" /><label for="gas">units of gas.</label><br/>
        <input name="token" type="hidden" value="{{ token }}">
        <input type="submit" value="Submit" />
    </form>
</div>

{% endblock %}
