{% extends "layouts/default.html" %}
{% block title %}ESSEC's Python 101 Exam 2020 Groups C1 & C2{% endblock %}
{% block content %}
<div id="main">
    <h1>Python 101 Exam for groups C1 & C2</h1>
    <p>Open a new notebook on <a>https://colab.research.google.com</a>, or on your own laptop if you know how to do that and use Python to find the answers.</p>
    <p>You are logged in as: {{ name }} (Student ID {{ id }})</p>
    <p>Your current grade is: <strong>{{ grade }}</strong></p>
    <p>It can only go up, do not be afraid to try stuff.</p>
</div>

{% endblock %}
